<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contactus</title>
</head>
<body>
<h2>contact us</h2>
<a href="{% url 'my-index' %}">Home</a>
<a href="{% url 'my-about' %}">About</a>
<p>For more details and inquiry ;
                                  Tel no 2547 23744732
                                  email foxx254@gmail.com</p>
</body>
</html>